*{
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6{
    font-size: 1em;
}

body {
    font-family: "Indie Flower", cursive;
}

#weekly__spending h1 {
    text-align: center;
    font-size: 2em;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 1rem auto;
}
#weekly__spending {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
}

#weekly__spending .weekdays{
    justify-content: center;
    align-items: center;
    border: 1px #000000 solid;
    border-radius: 10px;
    padding: 1em 0.8rem;
    margin: 0.4em auto;
    height: max-content;
}

/* FOR JAVASCRIPT CLASSLIST */

.fullscreen {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
}
/* .center {
    display: block;
    margin: auto;
} */
.hidden {
    display: none;
}

.weekdays .cancel-btn {
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
input {
    font-size: 1rem;
}
#weekly__spending input, button{
    font-family: "Indie Flower", cursive;
    font-weight: bold;
}

#weekly__spending button {
    color: #ffff;
    background-color: #242121;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
}

.weekdays h3{
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.weekdays .spending{
    margin: 0.4em 0;
    padding: 3px 7px;
    height: 100%;
    max-height: 300px;
    width: 70%;
} 

.weekdays .cost-reduce {
    margin: 0.4em 0 0.7em 0;
    padding: 3px 7px;
    height: 100%;
    width: 70%;
}

.daily__spending .what___i__spent__daily{
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    margin-top: 0.7rem;
    padding: 0.33rem 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    color: #4fe74f;

}


/* weekly avg sec */

.total__spend #spend__display{
    max-width: max-content;
    max-height: max-content;
    padding: 1.5rem ;
    border: 1.5px solid #242121;
    border-radius: 10px;
    margin: 1rem auto;
    font-weight: bold;

}
#weekly__display__container #weekly-total-btn{
    display: block;
    margin: 0 auto;
    background-color: #242121;
    color: #ffff;
    padding: 7px 10px;
    border-radius: 10px;
}
#suggestion{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.2;
    font-weight: bold;
    cursor: pointer;
    margin: 0rem 4rem 2rem 4rem;
}
#suggestion > p{
    margin-bottom: 0.75rem;
}

#suggestion img{
    width: 20px;
    height: 20px;
}



/* bigger screens*/

@media (min-width: 720px){
    body{
        font-size: 17px;
    }

    .weekly__spending {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 960px){
    body {
            font-size: 19px;
        }
    .weekly__spending .weekdays {
        padding: 1em 0.8rem;
        margin: 0.5rem 1rem ;
    }
}